/* Garantir que o container e o conteúdo se ajustem ao tamanho da tela */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Impede o scroll lateral */
}

.home-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Necessário para o conteúdo se ajustar ao navbar fixo */
}

/* Ajustes para a área de conteúdo */
.content {
  margin-left: 200px; /* Desloca o conteúdo para a direita, compensando a largura do navbar */
  width: calc(100% - 200px); /* Ajusta o conteúdo para ocupar o espaço restante */
  padding: 20px;
  background-color: #ecf0f1;
  display: grid;
  grid-template-areas: 
    "register register"
    "tracking tracking";
  grid-gap: 20px; /* Espaçamento entre as seções */
  grid-template-columns: 1fr 1fr; /* Duas colunas para telas grandes */
  box-sizing: border-box;
  overflow: hidden;
}

/* Seções internas do conteúdo */
.register-cattle, .tracking, .alerts, .weather{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Ajustes específicos para a seção register-cattle */
.register-cattle {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-height: 200Spx; /* Altura menor para register-cattle */
}

.register-cattle .cadastrar-gado-img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.map {
  height: 300px;
  background-color: #bdc3c7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #2c3e50;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.alerts ul li {
  margin-bottom: 10px;
  color: #e74c3c;
}

.weather p {
  margin-bottom: 5px;
  color: #2c3e50;
}

/* Responsividade para telas pequenas */
@media (max-width: 767px) {
  .content {
    grid-template-areas: 
      "register"
      "tracking"
      "alerts"
      "weather"; /* Coloca o weather abaixo de alerts em telas pequenas */
    grid-template-columns: 1fr; /* Uma coluna em dispositivos móveis */
  }
}